ul{
  list-style: none;
  font-size: 50px;
}

li{
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

body{
  background-color: rebeccapurple;
  color: white;
  font-family: arial;
  text-align: center;
}

#decimal{
  font-size: 50px;
}
